rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {


    // ======================
    // HÀM KIỂM TRA (HELPERS)
    // ======================

    function isSignedIn() {
      return request.auth != null;
    }


    function userExists() {
      return isSignedIn()
      &&
      exists(
        /databases/$(database)/documents/users/$(request.auth.uid)
      );
    }


    function isAdmin() {

      return userExists()
      &&
      (
        get(
          /databases/$(database)/documents/users/$(request.auth.uid)
        ).data.role == 'Quản trị viên'

        ||

        get(
          /databases/$(database)/documents/users/$(request.auth.uid)
        ).data['quyền'] == 'Quản trị viên'
      );

    }


    function isOwner(userId) {

      return isSignedIn()
      &&
      request.auth.uid == userId;

    }


    function isNotModifying(fields) {

      return !request.resource.data
      .diff(resource.data)
      .affectedKeys()
      .hasAny(fields);

    }




    // ======================
    // TEMP OTP
    // QUÊN MẬT KHẨU
    // ======================

    match /temp_otps/{email} {

      // Tạo OTP lần đầu
      allow create: if true;

      // Đọc OTP để xác thực
      allow read: if true;

      // CẬP NHẬT OTP (GỬI LẠI MÃ): Phải đợi ít nhất 1 phút để test
      allow update: if request.time > resource.data.createdAt + duration(1, 'm');

      // Xóa OTP sau khi dùng
      allow delete: if true;

    }







    // ======================
    // USERS
    // ======================

    match /users/{userId} {


      // Kiểm tra email:
      // - Đăng ký
      // - Quên mật khẩu

      allow read:

        if true;




      // Tạo user

      allow create:

        if isSignedIn()
        &&
        request.auth.uid == userId;




      // Update profile

      allow update:

        if isAdmin()

        ||

        (
          isOwner(userId)

          &&

          isNotModifying(
          [
            'role',
            'quyền',
            'points',
            'điểm',
            'masteredQuizzes',
            'quizBestScores'
          ])

        );




      // Xóa user

      allow delete:

        if isAdmin();

    }







    // ======================
    // USERS SUBCOLLECTION
    // favorites,...
    // ======================

    match /users/{userId}/{allPaths=**} {


      allow read:

        if isOwner(userId)
        ||
        isAdmin();




      allow write:

        if isOwner(userId)
        ||
        isAdmin();

    }







    // ======================
    // FEEDBACK
    // ======================

    match /feedback/{feedbackId} {


      allow create:

        if isSignedIn();




      allow read:

        if isAdmin()

        ||

        (
          isSignedIn()

          &&

          (
            resource.data.userId == request.auth.uid

            ||

            resource.data['e-mail']
            ==
            request.auth.token.email
          )
        );




      allow update:

        if isAdmin();




      allow delete:

        if isAdmin()

        ||

        (
          isSignedIn()

          &&

          (
            resource.data.userId == request.auth.uid

            ||

            resource.data['e-mail']
            ==
            request.auth.token.email
          )
        );

    }







    // ======================
    // POSTS
    // ======================

    match /posts/{postId} {


      allow read:

        if true;




      allow create:

        if isSignedIn();




      allow delete:

        if isAdmin()

        ||

        (
          isSignedIn()
          &&
          resource.data.userId == request.auth.uid
        );




      allow update:

        if isAdmin()

        ||

        (
          isSignedIn()
          &&
          resource.data.userId == request.auth.uid
        )

        ||

        (
          isSignedIn()

          &&

          request.resource.data
          .diff(resource.data)
          .affectedKeys()
          .hasOnly(
          [
            'likes',
            'likedBy',
            'comments'
          ])
        );





      // COMMENTS

      match /comments/{commentId} {


        allow read:

          if true;




        allow create:

          if isSignedIn();




        allow update, delete:

          if isAdmin()

          ||

          (
            isSignedIn()
            &&
            resource.data.userId == request.auth.uid
          );

      }

    }







    // ======================
    // NOTIFICATIONS
    // ======================

    match /notifications/{notificationId} {


      allow create:

        if isSignedIn();




      allow read, update, delete:

        if isAdmin()

        ||

        (
          isSignedIn()
          &&
          request.auth.uid == resource.data.toUserId
        );

    }







    // ======================
    // LOGS
    // ======================

    match /logs/{logId} {


      allow create:

        if isSignedIn();




      allow read, update, delete:

        if isAdmin();

    }







    // ======================
    // SYSTEM TRASH
    // ======================

    match /system_trash/{documentId} {


      allow create:

        if isSignedIn();




      allow read, update, delete:

        if isAdmin();

    }




    match /system_trash/{documentId}/{allPaths=**} {


      allow create:

        if isSignedIn();




      allow read, update, delete: if isAdmin();

    }







    // ======================
    // COLLECTION CONTENT
    // Chùa - Văn hóa - Ẩm thực
    // ======================

    match /{path=**} {


      // Public đọc dữ liệu

      allow read:

        if true;




      // Admin ghi dữ liệu

      allow write:

        if isAdmin();

    }


  }
}
